      @charset "utf-8";
      input[type=button], input[type=submit], input[type=reset] 
	      {
		    background-color: #4CAF50;
		    border: none;
		    color: white;
		    padding: 5px 12px;
		    text-decoration: none;
		    margin:4px;
		    cursor: pointer;
		    border-radius: 5px;
		    height: 30px;
		    width: 60px
		    font: 5pt Candara;
		  }
		  input[type=text]
		  {
			background-color: #CCFFFF;
		    background-position: 10px 10px; 
		    background-repeat: no-repeat;
		    padding-left: 3px;
		    border-radius: 5px;
		    border-color: #991111;	
		     width: 80%;	 
		  }
		  input[type=password]
		  {
		  	background-color: #CC3311;
		    background-position: 10px 10px; 
		    background-repeat: no-repeat;
		    padding-left: 3px;
		    border-radius: 5px;
		    border-color: #991111;	
		    width: 80%;
		  }
		  li
		  {
		  	list-style-type: inherit;
		  }
		   ul
		   {
		    list-style-image: url(/image/nav.gif);
		    }
		  .petux
		  {
		  	padding: 3px;
		  	width: 100%;
		  	background: #FF11FF;
		  	border-radius: 10px;
		  }
		  #container {
		    width: 75%; /* Ширина слоя */
		    margin: 0 auto; /* Выравнивание по центру */
		    background: #f0f0f0; /* Цвет фона левой колонки */
			}
		  #header {
		    font-size: 2.2em; /* Размер текста */
		    text-align: center; /* Выравнивание по центру */
		    padding: 5px; /* Отступы вокруг текста */
		    background: #8fa09b; /* Цвет фона шапки */
		    color: #ffe; /* Цвет текста */
		   }
		   #sidebar {
		    margin-top: 10px; 
		    width: 169px; /* Ширина слоя */
		    padding: 0 10px; /* Отступы вокруг текста */
		    float: left; /* Обтекание по правому краю */
		   }
		   #content {
		    margin-left: 200px; /* Отступ слева */
		    padding: 10px; /* Поля вокруг текста */
		    background: #fff; /* Цвет фона правой колонки */
		   }
		   #footer {
		    background: #8fa09b; /* Цвет фона подвала */
		    color: #fff; /* Цвет текста */
		    padding: 5px; /* Отступы вокруг текста */
		    clear: left; /* Отменяем действие float */
		   }
		   
		   
